<div *ngIf="currentUser">
    <h2>Welcome, {{ currentUser.username }}!</h2>
  
    <h3>Your Statuses:</h3>
    <div *ngFor="let status of userStatuses">
        <div>{{ getStatusString(status) }}</div>
        <button (click)="deleteStatus(status.book.id)">Delete Status</button>

        <select [(ngModel)]="selectedStatus" name="statusDropdown">
          <option *ngFor="let option of readingStatusOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        <button (click)="updateReadingStatus(status.book.id, selectedStatus)">Update Status</button>
    </div>
</div>


  