<div *ngIf="book">
    <h2>{{ book.title }}</h2>
    <p>Author: {{ book.author?.name }}</p>
    <p>Description: {{ book.description }}</p>
    <p>Rating: {{ rating }}</p>
</div>

<div *ngIf="isUserActive">
    <br>
    <div *ngIf="statusBool">
        <div>{{ getStatusString() }}</div>
        <select [(ngModel)]="selectedStatus" name="statusDropdown">
            <option *ngFor="let option of readingStatusOptions" [value]="option.value">
              {{ option.label }}
            </option>
        </select>
        <button (click)="updateReadingStatus(selectedStatus)">Update Status</button>
    </div>

    <div *ngIf="!statusBool">
        <select [(ngModel)]="selectedStatus" name="statusDropdown">
            <option *ngFor="let option of readingStatusOptions" [value]="option.value">
              {{ option.label }}
            </option>
        </select>
        <button (click)="addStatus(selectedStatus)">Add Status</button>
    </div>
</div>

<h3>Reviews:</h3>
<div *ngIf="!UserReview">
    <form [formGroup]="reviewForm" (submit)="addReview()">
        <div class="form-group">
          <label for="rating">Rating:</label>
          <input type="number" id="rating" name="rating" formControlName="rating" required>
          <div *ngIf="reviewForm.get('rating')?.hasError('min') || reviewForm.get('rating')?.hasError('max')">
            Rating must be between 1 and 5.
          </div>
          
        </div>
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment" formControlName="comment"></textarea>
        </div>
        <button type="submit">Submit Review</button>
      </form>
</div>

<div *ngIf="ratingBool">
    <app-review *ngFor="let review of reviews" [review]="review"></app-review>
</div>

<div *ngIf="!ratingBool">
    <p>No reviews available.</p>
</div>