<div class="info">
  <div *ngIf="book" class="book">
    <img [src]="book.coverUrl" alt="Book Cover">

    <div class="bookInfo">
      <div class="bookTA">
        <p class="title">{{ book.title }}</p>
        <p class="author">{{ book.author?.name }}</p>
      </div>
      <p class="description">{{ book.description }}</p>
      <div class="rating">Rating: 
        <p>{{ rating }}</p></div>
    </div>
  </div>
</div>

<div class="reviews">
  <h3>Ratings & Reviews</h3>
  <div *ngIf="!UserReview && isUserActive">
      <form class="form" [formGroup]="reviewForm" (submit)="addReview()">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <div style="display: flex; flex-direction: row; margin-top: auto;">
              <p class="text">Add Review  </p>  
              <span *ngFor="let star of stars" class="fa fa-star" (click)="setRating(star)" [ngClass]="{ 'checked': star <= selectedRating }"></span>
          </div>
          <button class="btn" type="submit">Submit Review</button>
        </div>
          
          <div>
            <textarea id="comment" name="comment" formControlName="comment"></textarea>
          </div>
        </form>
  </div>

  <div *ngIf="ratingBool">
      <app-review *ngFor="let review of reviews" [review]="review"></app-review>
  </div>

  <div *ngIf="!ratingBool" style="margin-top: 2vh;">
      <p>No reviews available.</p>
  </div>
</div>

<div style="height: 5vh;"></div>
